<div class="content">
    <h1 class="catalog-head">Catalog</h1>

    <nav class="catalog-menu">
        <ul class="catalog-menu__list">
            <li class="catalog-menu__list__item"><a href="" class="catalog-menu__list__item__link">ALL</a></li>
            <li class="catalog-menu__list__item"><a href="" class="catalog-menu__list__item__link">T-SHIRTS</a></li>
            <li class="catalog-menu__list__item"><a href="" class="catalog-menu__list__item__link">SWEATERS</a></li>
            <li class="catalog-menu__list__item"><a href="" class="catalog-menu__list__item__link">SHORTS</a></li>
            <li class="catalog-menu__list__item"><a href="" class="catalog-menu__list__item__link">JACKETS</a></li>
            <li class="catalog-menu__list__item"><a href="" class="catalog-menu__list__item__link">ACCESSOIRES</a></li>
        </ul>
    </nav>
    <div class="main">
        <div class="item-section" ng-repeat="unit in clothes | filter:search">
            <a class="item-section__button__link" href="#phones/{{unit.id}}" role="">
          <span class="item-section__label"
                ng-init="status = unit.status ? 'new':'' "
                ng-class="{'item-section__label_new': unit.status,'item-section__label_old': !unit.status}">
                {{status}}
                </span>

                <img class="item-section__image" ng-src="{{unit.imageUrl}}" alt="{{unit.name}}">
                <p class="item-section__name">{{unit.name}}</p>
                <div class="item-section__price">
                    <span class="item-section__price__old" id="old">{{unit.price}} </span>
                    <span class="item-section__price__current-price" id="current-price">{{unit.currentPrice}}</span>
                </div>
                <!--<div class="mask"></div>-->
                <!--<div class="mask-content">-->
                    <!--<h3 class="mask-content__head">some</h3>-->
                    <!--<a class="mask-content__button__link" href="#items/{{unit.id}}" role="">link</a>-->
                <!--</div>-->

            </a>
        </div>
        <p class="load">LOAD MORE...</p>
    </div>

</div>
<div class="subscribe">
    <div class="content">
        <p class="subscribe__text">subscribe</p>
        <h1 class="subscribe__head">Stay updated on news</h1>
        <a href="" class="subscribe__button">YOUR EMAIL ADDRESS
           <!-- <img class="subscribe__button__right" src="src/img/items/right.png" alt="">-->
            <i class="fa fa-chevron-right subscribe__button__right" aria-hidden="true"></i>
        </a>
    </div>
</div>